/* general */
:root {
  --CTA-text: hsl(356, 100%, 66%);
  --CTA-hover-background: hsl(355, 100%, 74%);
  --Headings: hsl(208, 49%, 24%);
  --footer-text: hsl(240, 2%, 79%);
  --body-copy: hsl(207, 13%, 34%);
  --footer-background: hsl(240, 10%, 16%);
  --nav-gradient: linear-gradient(
    90deg,
    rgba(255, 143, 112, 1) 25%,
    rgba(255, 61, 84, 1) 75%
  );
  --background-gradient: linear-gradient(
    90deg,
    rgba(44, 45, 63, 1) 25%,
    rgba(63, 65, 100, 1) 75%
  );
  --footer-font: font-family: "Ubuntu", sans-serif;

}

* {
  box-sizing: border-box;
  margin: 0;
}

button {
    border: none;
}

body {
  min-width: 375px;
  font-size: 16px;
  font-family: "Overpass", sans-serif;
}

/* hero */

.hero {
    min-height: 600px;
    background: url("images/bg-pattern-intro-mobile.svg"), var(--nav-gradient);
    background-repeat: no-repeat;
    background-position: 33% 32.5%, 0px 0px;
    color: white;
    padding: 4rem 2rem;
    border-bottom-left-radius: 125px;
}

.container-nav {
    display: flex;
    justify-content: space-between;
}

.hamburger {
 height: 18px;
 align-self: center;
}

.hero-text {
width: 327px;
text-align: center;
margin: 6rem auto;

}

.hero-h1 {
    font-size: 2.25rem;
    font-weight: 600;
    line-height: 55px;
}

.hero-p {
    font-size: 1.125rem;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 2rem;
}


.start-btn, .learn-btn {
    padding: 1rem;
    border-radius: 25px;
    font-family: var(--footer-text);
    font-weight: 700;
    height: 48px;
    width: 137px;
    border: 2px solid white;

}

.start-btn {
    color: var(--CTA-text);
    background: white;
    margin-right: 1rem;

}

.learn-btn {
    color: white;
    background: hsla(356, 100%, 66%, 0%)
}